body{
	font-family: 'Raleway', sans-serif;
	background: #162447;
	color: white;
	text-align: center;
}

.text-center {
	text-align: center;
  }

  .my-navbar {
  	  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1c550;
 
  }

  .logo{
  	height: 60px;
  	margin:5px;
  }

  .cadre{
  	border: 5px solid #f1c550;
  	margin: 100px;
  	border-radius: 10px;
  	box-shadow: 10px 10px 10px black;
  	background: #f1c550;
  	

  }


  .btn-pink {
	background: #f1c550;
	padding: 15px;
	margin: 15px;
	display: inline-block;
	border: 2px solid #f1c550;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

.photos {
	display:flex;
	object-fit: cover;
	justify-content: space-around;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 200px;
  font-weight: bold;
  font-family: 'Cinzel Decorative', normal;
}


.footer {
  background: #f1c550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #162447;
 
}
.footer .fa-heart {
  color: #D23333;
}

.my-btn {
	background: #162447;
	padding: 15px;
	margin: 15px;
	display: inline-block;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
}

.modal-body{
	color: black;
}

.fa-envelope{
	color:#f1c550;
}

